doctype 
html
  head
    title= title
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/homepage.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
  body
    block titleItem
    block buttonItem
